.score-chart {
  font-weight: bold;
  text-align: center;
}

span.player-one {
  color: red;
}

span.player-two {
  color: blue;
}

td.disabled {
  background-color: darkgrey;
}

td:hover:not(.disabled) {
  background-color: lightgrey;
  cursor: pointer;
}

td.player-one {
  background-color: red;
}

td.player-two {
  background-color: blue;
}
